<div class="flex-boxes card-wrapper">

  <div class="flex-box card">

    <div class="page_header">

      <h1 class="card_title"><%= @vendor.name %></h1>
    </div>

    <div class="card_padding card-align-left">
      <%= render 'form' %>
    </div>
  </div>

</div>