<% [:success, :info, :warning, :alert].each do |flash_type| %>
  <% if flash[flash_type] %>
    <div class="flex-boxes card-wrapper">
      <div class="flex-box card card_padding alert-box">
        <%= flash[flash_type] %>
        <a href="#" class="close">&times;</a>
      </div>
    </div>
  <% end %>
<% end %>
