<% [:success, :info, :warning, :alert].each do |flash_type| %>
  <% if flash[flash_type] %>
    <div data-alert class="alert-box <%= flash_type %> radius">
      <%= flash[flash_type] %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>
<% end %>
