<div class="background">
  <div class="forms">
    <%= render '/shared/login' %>
    <%= render '/shared/sign_up' %>
  </div>
  <div class="logo">Lunchpad</div>
</div>
<div class="solid-back">

  <div class="team">
    <ul>
      <li>DeeDee Lavinder</li>
        <ul><img>https://s3.amazonaws.com/lunchpad/DeeDee.jpg</img><li>github: deedeelavinder</li><li>www.deedeelavinder.com</li><li>https://www.linkedin.com/pub/deedee-lavinder/8/926/81a</li></ul>
      <li>Kheang Lim</li>
        <ul><img>https://s3.amazonaws.com/lunchpad/Kheang.jpg</img><li>github: kheang</li><li>www.kheang.me</li><li>https://www.linkedin.com/in/kheang</li></ul>
      <li>Nick Passarella</li>
        <ul><img>https://s3.amazonaws.com/lunchpad/Nick.jpg</img><li>github: nickpassarella</li><li>www.nickpassarella.com</li><li>https://www.linkedin.com/pub/nick-passarella/4/37a/912?trk=pub-pbmap</li></ul>
    </ul>
  </div>

</div>
