<div class="login-bar">
  <div class="login-title">Lunchpad</div>
</div>


<div class="background"></div>

<div class="black"></div>
<div class="forms">
  <%= render '/shared/login' %>
  <%= render '/shared/sign_up' %>
</div>
<div class="logo">Lunchpad</div>

<div class="copy">
  <h4>What is Lunchpad?</h4>
  <p>Lunchpad is a platform designed for small schools who order food from outside vendors for their students. We make it easy for both parents/guardians as well as school administrators.</p>
  <p>Are you a parent/guardian or administrator at a smaller school who orders outside lunch?
    Maybe your school is interested in starting a lunch program, but can't devote the time or resources to manage the logistics of catering lunch daily?</p>
  <h4>Let's do lunch!</h4>
</div>

<div class="copy three-step">
  <ul>
    <li><p>How does it work?</p></li>
    <li><i class="fa fa-calendar"></i></li>
    <li><p>Choose lunch for your students weekly.</p></li>
    <li><i class="fa fa-credit-card"></i></li>
    <li><p>Easily pay for orders online.</p></li>
    <li><i class="fa fa-cutlery"></i></li>
    <li><p>Students get lunch, you save time.</p></li>
  </ul>
</div>

<div class="team-wrapper">
  <div class="team-name">Team Lunchpad</div>
  <div class="team">
    <ul>
      <li class="card deedee">
        <div class="name-header">
          <h1>DeeDee Lavinder</h1>
        </div>
        <div class="deedee-pic"></div>
        <ul class="block-list">
          <li>
            <a href="http://www.github.com/deedeelavinder"><i class="fa fa-github-alt fa-fw"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/pub/deedee-lavinder/8/926/81a"><i class="fa fa-linkedin fa-fw"></i></a>
          </li>
          <li>
            <a href="http://www.deedeelavinder.com"><i class="fa fa-home fa-fw"></i></a>
          </li>
        </ul>
      </li>
      <li class="card kheang">
        <div class="name-header">
          <h1>Kheang Lim</h1>
        </div>
        <div class="kheang-pic"></div>
        <ul class="block-list">
          <li>
            <a href="http://www.github.com/kheang"><i class="fa fa-github-alt fa-fw"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/kheang"><i class="fa fa-linkedin fa-fw"></i></a>
          </li>
          <li>
            <a href="http://kheang.net"><i class="fa fa-home fa-fw"></i></a>
          </li>
        </ul>
      </li>
      <li class="card nick">
        <div class="name-header">
          <h1>Nick Passarella</h1>
        </div>
        <div class="nick-pic"></div>
        <ul class="block-list">
          <li>
            <a href="http://www.github.com/nickpassarella"><i class="fa fa-github-alt fa-fw"></i></a>
          </li>
          <li>
            <a href="  https://www.linkedin.com/in/nickpassarella"><i class="fa fa-linkedin fa-fw"></i></a>
          </li>
          <li>
            <a href="http://www.nickpassarella.com"><i class="fa fa-home fa-fw"></i></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<footer></footer>
