<div class="login-bar">
  <div class="login-title">Lunchpad</div>
</div>


<div class="background"></div>

<div class="forms">
  <%= render '/shared/login' %>
  <%= render '/shared/sign_up' %>
</div>
<div class="logo">Lunchpad</div>

<div class="copy">
  <h4>Let's do Lunch!</h4>
  <p>Lunchpad is a platform designed for small schools who rely on catered lunch for their students. We streamline the process, making it easy for parents/guardians to make meal selections and pay online, as well as easy for schools to organize daily orders and distribute lunch.</p>
</div>

<ul class="bullets">
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-1">
      <i class="fa fa-calendar"></i>
    </div>
    <div class="bullet-content">
      <h2>Schedule Menus</h2>
      <p>Schools set their academic calendar, vendors, food items, and prices. Lunchpad takes care of automatically generating the menu, blocking out holidays and allowing parents/guardians to repeat orders into the future.</p>
    </div>
  </li>
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-2">
      <i class="fa fa-credit-card"></i>
    </div>
    <div class="bullet-content">
      <h2>Accept Online Payments</h2>
      <p>Parents/guardians can easily and securely pay online for ordered lunch. Schools can also use Lunchpad to manually apply cash/check payments or lunch assistance towards accounts.</p>
    </div>
  </li>
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-3">
      <i class="fa fa-cutlery"></i>
    </div>
    <div class="bullet-content">
      <h2>Distribute Lunch</h2>
      <p>Lunchpad compiles orders for each day and allows schools to view item totals, allowing easy ordering with vendors, as well as an individual student breakdown to distribute lunch with ease.</p>
    </div>
  </li>
</ul>


<footer>
  <p>Want to bring Lunchpad to your school?</p>

  <a href="mailto:lunchpadus@gmail.com" class="email">Click to Contact Us!</a>
</footer>
