<header>
  <div class="user-bar">
    <div class="menu">
      <div class="menu-icon"></div>
      <div class="title">Lunchpad</div>
    </div>
    <ul>
    <% if user_signed_in?  %>
      <li>Logged in as <%= "#{current_user.first_name} #{current_user.last_name}" %></li>
    <% else %>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <li><%= link_to "Log In", new_user_session_path %></li>
    <% end %>
    </ul>
  </div>

</header>
