<div class="card">

  <%= render partial: "accounts/account_profile_card" , locals: {account: account} %>

  <%= render partial: "shared/lunch_coverage", locals: { order: account.has_order_for(@start_date), account: account, order_week: @order_week } %>

</div>