<div class="flex-box card">

  <%= render partial: "accounts/account_profile_card" , locals: {account: account} %>

  <%= render partial: "shared/lunch_coverage", locals: { order: account.has_order_for(@start_date), account: account, order_week: @order_week } %>

  <strong><%= link_to "Share", new_account_account_ownership_path(account) %></strong>
</div>