<div class="card">
  <div class="account_profile">
    <div class="account_profile_image"></div>
    <div class="account_profile_info">
      <h1><%= "#{account.name}" %></h1>
      <h2></h2><%= "#{account.school.name}" %></h2>
    </div>
  </div>

  <%= render partial: "shared/lunch_coverage", locals: { order: account.has_order_for(@start_date), account: account, order_week: @order_week } %>

  <strong><%= link_to "Share", new_account_account_ownership_path(account) %></strong>
</div>