<div class="calendar-coverage" id="<%= "lunch_coverage_#{account.id}" %>">
  <div class="calendar-header-month">
    December
  </div>
  <div class="calendar-row">
    <div class="date-panel-sml"></div>
    <% order_week.each do |date| %>
      <div class="date-panel-sml date-header"><%= date.strftime("%-a")[0] %></div>
    <% end %>
    <div class="date-panel-sml"></div>
  </div>
  <div class="calendar-row">
    <div class="date-panel-sml">
      <
    </div>
    <% order_week.each do |date| %>
      <% if date.sunday? || date.saturday? %>
        <% div_color = "date-panel-sml date-disabled" %>
      <% else %>
        <% div_color = "date-panel-sml date-uncovered" %>
      <% end %>
      <% account.ordered_items.each do |order| %>
        <% if order.date == date && order.quantity > 0  %>
          <% div_color = "date-panel-sml date-covered" %>
        <% end %>
      <% end %>
      <div class="<%= div_color %>"><%= date.strftime("%-d") %></div>

    <% end %>
    <div class="date-panel-sml">
      >
    </div>
  </div>
</div>