<div class="card">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <%= f.text_field :first_name %>
    <%= f.submit 'Sign Up' %>
  <% end %>
</div>