<% if user_signed_in?  %>
  <% if current_user.account_ownerships.count == 0 %>
    <p>Please make an account for each <strike>eater</strike> person who will need lunch.</p>
    <%= link_to "Create an Account", new_account_path(@account) %>
  <% else %>
      <%= render partial: "account_card", collection: current_user.accounts, as: :account %>
  <% end %>
<% else %>
  <h1>Welcome To Lunchpad!</h1>
<% end %>