<div class="form_wrapper">
    <h2>Repeat your order</h2>

    <p>Your order can be repeated through <%= copyable_date.strftime('%A, %B %e, %Y') %></p>

    <p>To repeat your order, select a date below:</p>

    <%= date_field_tag "copy_date" %>
</div>