<div class="flex-boxes card-wrapper">

  <div class="flex-box card-wide">

    <div class="page_header">
      <%= render partial: "sessions/user_profile_card" , locals: {account: current_user} %>

      <h1 class="card_title">All Lunchbox Orders</h1>
    </div>

    <div class="card_links">
      <ul>
        <li><%= link_to 'Back to Home', root_path %></li>
        <li><%= link_to 'Payments', charges_path %></li>
      </ul>
    </div>

    <%= render partial: 'calendar_detail_all', locals: { calendar: @calendar } %>

  </div>
</div>