<div class="flex-boxes card-wrapper">

  <div class="flex-box card-wide">

    <div class="page_header">
      <%= render partial: "sessions/user_profile_card" , locals: {account: current_user} %>

      <h1 class="card_title">All Lunchbox Orders</h1>
    </div>

    <%= render partial: 'calendar_detail_all', locals: { calendar: @calendar } %>

  </div>
</div>