<br />
<div class="order_confirm_wrapper_header">
  <div class="order_confirm_title">
    Edit Order
  </div>
</div>

<%= render partial: 'form', locals: {account: @account, order: @order, ordered_items: @ordered_items} %>