<div class="flex-boxes card-wrapper">

  <div class="flex-box card-wide">

    <div class="page_header">
      <%= render partial: "accounts/account_profile_card" , locals: {account: @account} %>

      <h1 class="card_title">All Orders</h1>
    </div>

    <% if @ordered_items.empty? %>
      No orders have been placed.
    <% else %>
      <%= render partial: 'shared/calendar', locals: { calendar: { owner: @account,
                                                                   events: @ordered_items,
                                                                   begin_date: Date.today.beginning_of_month,
                                                                   end_date: Date.today.end_of_month,
                                                                   style: 'detail' } } %>
    <% end %>
  </div>
</div>