<div class="order_form_wrapper">
  <div class="order_form_title">
    New Order - Week of <%= @ordered_items.first.available_menu_item.date.strftime("%B %d, %Y") %>
  </div>
</div>

<%= render partial: 'form', locals: {account: @account, order: @order, ordered_items: @ordered_items} %>

