<div class="flex-boxes card-wrapper">

  <div class="flex-box card">

    <div class="page_header">
      <%= render partial: "accounts/account_profile_card" , locals: {account: @account} %>

      <h1 class="card_title">New Order</h1>
    </div>
    <%= render partial: 'form', locals: {account: @account, order: @order, ordered_items: @ordered_items, order_date: @order_date } %>
  </div>

</div>