<div class="flex-boxes card-wrapper">

  <div class="flex-box card">

    <div class="page_header">
      <%= render partial: "accounts/account_profile_card" , locals: {account: @account} %>

      <h1 class="card_title">Review Order</h1>
    </div>

    <%= render 'confirmation', order: @order %>

    <div class="helpful_links">
      <ul>
        <li><%= link_to 'Edit Order', edit_account_order_path %></li>
        <li><%= link_to 'Delete Order', [@account, @order], method: :delete %></li>
      </ul>
    </div>
  </div>

</div>




