<br />
<div class="order_confirm_wrapper_header">
  <div class="order_confirm_title">
    Review order
  </div>
  <div class="order_confirm_sub_title">
    [<%= link_to 'Edit Order', edit_account_order_path(@account, @order) %>]
  </div>
</div>

<%= render 'confirmation', order: @order %>