<div class="flex-boxes card-wrapper">

  <div class="flex-box card">

    <div class="page_header">
      <%= render "schools/school_profile_card", school: @school %>
      <h1 class="card_title">Vendors</h1>
    </div>

      <div class="helpful_links">
        <ul>
          <li><%= link_to vendors_path do %>
              <i class="fa fa-chevron-left fa-fw"></i>
              Back to All Vendors
            <% end %>
          </li>
        </ul>
      </div>

      <div class="display-block">
        <h1>Edit Vendor Info</h1>
        <br />
        <%= render 'form' %>
      </div>

  </div>
</div>
