<h1>Your Schools</h1>
<% @schools.each do |school| %>
  <div class="card">
    <h2><%= link_to "#{school.name}", school_path(school) %></h2>
    <ul>
      <li><%= school.description %></li>
      <li><%= school.motto %></li>
    </ul>

  </div>
<% end %>