<div class="flex-boxes card-wrapper">

  <div class="flex-box card">

    <div class="page_header">

      <%= render "schools/school_profile_card", school: @school %>
      <h1 class="card_title">Days Off</h1>
    </div>

    <div class="display-block">
      <% if @off_days.empty? %>
        <h2> There are no off days set for this school.</h2>
      <% else %>
        <h2>Scheduled Days Off</h2>
        <ul>
          <% @off_days.each do |off_day| %>
            <li><%= "#{off_day.date.strftime("%D")} #{off_day.name}" %></li>
          <% end %>
        </ul>
      <% end %>
      <% calendar_settings = { owner: @school,
                               events: @school.off_days.where(date: Date.today.beginning_of_month.beginning_of_week..Date.today.end_of_month.end_of_week),
                               begin_date: Date.today.beginning_of_month,
                               end_date: Date.today.end_of_month,
                               style: 'simple' } %>

      <%= render partial: 'shared/calendar', locals: { calendar: calendar_settings } %>
    </div>

    <div class="display-block">
      <%= render 'form' %>
    </div>
    </div>
</div>