<div class="flex-boxes card-wrapper">

  <div class="flex-box card">

    <div class="page_header">

      <%= render "schools/school_profile_card", school: @school %>
      <h1 class="card_title">Days Off</h1>
    </div>
    <h2>Scheduled Days Off</h2><br />

      <% settings = { owner: @school,
                      events: @off_days,
                      begin_date: Date.today.beginning_of_month,
                      end_date: Date.today.end_of_month,
                      style: 'simple' } %>

      <%= render partial: 'shared/calendar', locals: { calendar: settings } %>
    <div class="display-block">
      <h1>Add More Days Off</h1>
      <%= render 'form' %>
    </div>
    </div>
</div>