/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require_self
 */
@import "bourbon";
@import "neat";
@import "base/base";
@import "font-awesome";

body {
  margin: 0;
  background-color: #F6F6F6;

  .fa {
    font-size: 16px;
  }
}

ul {
  list-style: none;
}

h1 {
  @include padding(10px 10px 10px 10px);
  margin-left: 11%;
}

.card {
  border-radius: 2px;
  background: #FFFFFF;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
  width: 100%;
  max-width: 600px;
  @include margin(20px auto null auto);
  @include padding(20px 20px 20px 20px);
}

header {

  .user-bar {
    background-color: #4CAF50;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.50);
    height: 56px;
  }

  .menu-icon {
    @include margin(22px 18px 22px 18px);
    height: 12px;
    width: 18px;
    background-image: image-url('menu_icon.svg');
    opacity: 0.6;
    background-size: cover;
    float: left;
  }

  .menu-icon:hover {
    opacity: 1;
  }

  .title {
    font-size: 24px;
    font-family: Avenir;
    font-weight: 600;
    float: left;
    color: white;
    margin-top: 12px;
  }

  ul {
    margin-top: 18px;
    text-align: right;
    font-weight: 600;
    float: right;
    font-size: 14px;
    color: white;

    li {
      display: inline;
      list-style-type: none;
      padding-right: 24px;
    }
  }

  .dropdown-nav {
    height: 0;
    width: 200px;
    background: rgba(76, 175, 80, 0.2);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
    float: left;
    clear: both;
    transition: height 0.2s linear;

    ul {
      margin-top: 0;
      width: 100%;
      opacity: 0;
      transition: opacity 0.2s linear;
      display: inline;
      text-align: left;
      color: #727272;

      .dropdown-link {
        width: 100%;
        border-bottom: solid 1px #4CAF50;
        @include padding(10px null 5px 5px);
      }

      li {
        font-size: 18px;
      }
    }
  }

  .dropdown-nav-visible {
    height: 600px;
    transition: height 0.2s linear;

    ul {
      opacity: 1;
      transition: opacity 0.2s linear;
    }
  }
}

.order_form_wrapper {
  @include outer-container;
  .order_form_title {
    @include span-columns(8);
    @include shift(1);
    @include omega();
    font-weight: 600;
  }
  .quantity {
    @include span-columns(1);
    @include shift(1);
  }
  .quantity_select {
    @include span-columns(1);
    @include padding(4px null null null);
  }
  .menu_item {
    @include span-columns(4);
    @include omega();
  }
  .submit {
    @include span-columns(8);
    @include shift(1);
    @include omega();
  }
}

.order_confirm_wrapper {
  @include outer-container;
  .ordered_item {
    @include span-columns(4);
    @include shift(1);
  }
  .ordered_quantity {
    text-align: center;
    @include span-columns(2);
  }
  .ordered_price {
    text-align: center;
    @include span-columns(2);
  }
  .ordered_sub_total {
    text-align: right;
    @include span-columns(2);
    @include omega();
  }
}

.order_confirm_wrapper_header {
  @include outer-container;

  .order_confirm_title {
    @include span-columns(10);
    @include shift(1);
    @include omega();
    font-size: 40px;
    font-weight: 600;
  }
  .order_confirm_sub_title {
    @include span-columns(10);
    @include shift(1);
    @include omega();
    @include padding(20px null 20px null);
    font-size: 16px;
    font-weight: 600;
  }
  .order_confirm_total {
    @include span-columns(10);
    @include shift(1);
    @include omega();
    @include padding(10px null 10px null);
    background-color: lighten($blue, 68);
    font-size: 20px;
    font-weight: 600;
    text-align: right;
  }
  .ordered_item_header {
    @include span-columns(4);
    @include shift(1);
    font-weight: 600;
  }
  .ordered_quantity_header {
    @include span-columns(2);
    text-align: center;
    font-weight: 600;
  }
  .ordered_price_header {
    text-align: center;
    font-weight: 600;
    @include span-columns(2);
  }
  .ordered_sub_total_header {
    text-align: right;
    font-weight: 600;
    @include span-columns(2);
    @include omega();
  }
}

img.quantity_add {
  width: 20px;
}

img.quantity_subtract {
  width: 20px;
}

.school-profile {
  @include padding(30px null 5px 20px);
  margin-left: 11%;
}

.calendar {
  @include padding(null 10px null 10px);
}

.calendar-coverage {
  width: 100%;
  max-width: 390px;
  float: right;
  clear: right;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.12);
}

.calendar-header-month {
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0,0.12);
}

.calendar-row {
  clear: right;
}

.date-panel {
  border-radius: 2px;
  text-align: center;
  float: left;
}

.date-panel-sml {
  @extend .date-panel;
  height: 35px;
  width: 35px;
  font-size: 12px;
  font-weight: 500;
  @include margin(3px 3px 3px 5px);
  padding: 8px 0 10px 0;
}

.date-covered {
  background-color: #4CAF50;
  color: white;
}

.date-uncovered {
  background: rgba(255,0,0,0.10);
  color: red;
}

.date-disabled {
  color: rgba(0,0,0,0.26);
}

.account_profile {
  width: 100%;
  max-width: 150px;
  clear: none;
}

.account_profile_image {
  width: 45px;
  height: 45px;
  background: rgba(0,0,0,0.54);
  border-radius: 25px;
  margin-right: 10px;
  float: left;
}

.account_profile_info {
  ul {
    text-decoration-style: none;
  }

  h1 {
    font-size: 20px;
    line-height: 20px;
    color: rgba(0,0,0,0.87);
    margin: 0;
    padding: 0;
  }

  h2 {
    font-size: 14px;
    color: rgba(0,0,0,0.54);
    line-height: 14px;
    margin: 0;
    padding: 0;
  }
}

.account_card_links {
  text-align: right;
  font-size: 14px;
  max-width: 100%;
  clear: both;
  ul {
    text-decoration-style: none;
  }
  ul li {
    display: inline;
    margin-left: 30px;
  }
}
