/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require font-awesome
 *= require_self
 */
@import "bourbon";
@import "neat";
@import "base/base";
@import "font-awesome";


.login-form {

  ul {
    float: left;
  }

  li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    float: left;
  }

  .field{
    height: 10px;
    width: 200px;
    margin: 0;
    padding: 0;
  }
}

body {
  margin: 0;
  background-color: #F6F6F6;

  .fa {
    font-size: 16px;
  }
}

ul {
  list-style: none;
}

h1 {
  @include padding(10px 10px 10px 10px);
  margin-left: 11%;
}

a {
  color: #2E7D32;
}

.card {
  border-radius: 2px;
  background: #FFFFFF;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
  width: 628px;
  height: 100%;
  @include margin(15px auto 0 auto);
  @include padding(25px 25px 15px 25px);
}

.card:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

header {

  .login-title {
    font-family: Avenir;
    color: white;
    font-size: 24px;
    font-weight: 600;
    width: 50px;
    float: left;
    @include padding(12px 40px null 54px);
  }

  .user-bar {
    background-color: #4CAF50;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.50);
    height: 56px;
    width: 100%;
    top: 0;
    position: fixed;
  }

  .menu-icon {
    @include margin(22px 18px 22px 18px);
    height: 12px;
    width: 18px;
    background-image: asset-url("menu_icon.svg", image);
    opacity: 0.6;
    background-size: cover;
    float: left;
  }

  .menu-icon:hover {
    opacity: 1;
  }

  .title {
    float: left;
    margin-top: 12px;

    a {
      font-family: Avenir;
      color: white;
      font-size: 24px;
      font-weight: 600;
    }

    a:hover {
    }

    a:visited {
      color: white;
    }
  }

  ul {
    margin-top: 18px;
    text-align: right;
    font-weight: 600;
    float: right;
    font-size: 14px;
    color: white;

    li {
      display: inline;
      list-style-type: none;
      padding-right: 24px;
    }
  }

  .dropdown-nav {
    height: 0;
    width: 200px;
    background: #D3E7D4;
    float: left;
    clear: both;
    position: fixed;
    top: 57px;
    transition: height 0.2s ease-in-out;
    transition-delay: 0.1s;

    a {
      color: #595959;
    }

    .dropdown-link:hover {
      background-color: rgba(76, 175, 80, 0.1);
    }

    a:visited {
      color: #595959;
    }

    .admin-nav {
      background-color: #F9F7CE;
      transition: width 0.2s ease-in-out;
      transition-delay: 0.1s;
      height: 273px;
      width: 0;
      position: fixed;
      top: 272px;

      .dropdown-link:hover {
        background-color: RGBA(255, 250, 147, 0.4);
      }
      
      .admin-head {
        background: #595959;
        @include padding(8px null 8px null);
        color: #FFF;
        width: 201px;
      }

      .admin-head:hover {
        background: #595959;      }
    }

    ul {
      margin-top: 0;
      width: 100%;
      visibility: hidden;
      transition: visibility 0.1s linear;
      display: inline;
      text-align: left;
      color: #727272;

      .dropdown-link {
        width: 100%;
        @include padding(12px null 10px 15px);

        .school-name {
          padding-left: 27px;
        }
      }

      li {
        font-size: 14px;
      }
    }
  }

  .dropdown-nav-visible {
    height: 215px;
    transition: height 0.2s ease-in-out;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.24);


    .admin-nav {
      width: 200px;
      transition: width 0.2s ease-in-out;
      box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.24);

    }

    ul {
      visibility: visible;
      transition: visibility 0.2s linear;
      transition-delay: 0.2s;
    }
  }
}

.order_form_wrapper {
  @include outer-container;
  .order_form_title {
    @include span-columns(8);
    @include shift(1);
    @include omega();
    font-weight: 600;
  }
  .quantity {
    @include span-columns(1);
    @include shift(1);
  }
  .quantity_select {
    @include span-columns(1);
    @include padding(4px null null null);
  }
  .menu_item {
    @include span-columns(4);
    @include omega();
  }
  .submit {
    @include span-columns(8);
    @include shift(1);
    @include omega();
  }
}

.order_confirm_wrapper {
  @include outer-container;
  .ordered_item {
    @include span-columns(4);
    @include shift(1);
  }
  .ordered_quantity {
    text-align: center;
    @include span-columns(2);
  }
  .ordered_price {
    text-align: center;
    @include span-columns(2);
  }
  .ordered_sub_total {
    text-align: right;
    @include span-columns(2);
    @include omega();
  }
}

.order_confirm_wrapper_header {
  @include outer-container;

  .order_confirm_title {
    @include span-columns(10);
    @include shift(1);
    @include omega();
    font-size: 40px;
    font-weight: 600;
  }
  .order_confirm_sub_title {
    @include span-columns(10);
    @include shift(1);
    @include omega();
    @include padding(20px null 20px null);
    font-size: 16px;
    font-weight: 600;
  }
  .order_confirm_total {
    @include span-columns(10);
    @include shift(1);
    @include omega();
    @include padding(10px null 10px null);
    background-color: lighten($blue, 68);
    font-size: 20px;
    font-weight: 600;
    text-align: right;
  }
  .ordered_item_header {
    @include span-columns(4);
    @include shift(1);
    font-weight: 600;
  }
  .ordered_quantity_header {
    @include span-columns(2);
    text-align: center;
    font-weight: 600;
  }
  .ordered_price_header {
    text-align: center;
    font-weight: 600;
    @include span-columns(2);
  }
  .ordered_sub_total_header {
    text-align: right;
    font-weight: 600;
    @include span-columns(2);
    @include omega();
  }
}

img.quantity_add {
  width: 20px;
}

img.quantity_subtract {
  width: 20px;
}

.school-profile {
  @include padding(30px null 5px 20px);
  margin-left: 11%;
}

.calendar {
  @include padding(null 10px null 10px);
}

.calendar-coverage {
  width: 100%;
  max-width: 390px;
  float: right;
  padding-bottom: 5px;
}

.calendar-header {
  width: 100%;
  text-align: center;
  float: left;
  clear: right;
}

.calendar-header-month {
  @extend .calendar-header;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  color: rgba(0,0,0,0.54);
}

.calendar-row {
  margin-bottom: 5px;
  float: left;
  clear: right;

  a {
    color: rgba(0,0,0,0.26);
  }
}

.date-panel {
  border-radius: 2px;
  text-align: center;
  float: left;
  clear: right;
}

.date-panel-sml {
  @extend .date-panel;
  height: 35px;
  width: 35px;
  font-size: 12px;
  font-weight: 500;
  @include margin(3px 3px 3px 5px);
  padding: 8px 0 10px 0;
}

.date-covered {
  background-color: #4CAF50;
  a {
    color: white;
  }
}

.date-uncovered {
  background: rgba(255,0,0,0.10);
  a {
    color: red;
  }
}

.date-disabled {
  a {
    color: rgba(0, 0, 0, 0.26);
  }
}

.account_profile {
  width: 100%;
  max-width: 150px;
}

.account_profile_image {
  width: 45px;
  height: 45px;
  background: rgba(0,0,0,0.54);
  border-radius: 25px;
  margin-right: 10px;
  float: left;
}

.account_profile_info {
  ul {
    text-decoration-style: none;
  }

  h1 {
    font-size: 20px;
    line-height: 20px;
    color: rgba(0,0,0,0.87);
    margin: 0;
    padding: 0;
  }

  h2 {
    font-size: 14px;
    color: rgba(0,0,0,0.54);
    line-height: 14px;
    margin: 0;
    padding: 0;
  }
}

.account_card_links {
  text-align: right;
  font-size: 14px;
  line-height: 24px;
  clear: both;
  border-top: 1px solid rgba(0,0,0,0.12);
  ul {
    list-style-type: none;
    margin-top: 15px;
  }
  ul li {
    display: inline;
    margin-left: 30px;
  }
}

#flip {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
