/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require_self
 */
@import "bourbon";
@import "neat";
@import "base/base";

body {
  margin: 0;
}

ul {
  list-style: none;
}

h1 {
  @include padding(10px 10px 10px 10px);
  margin-left: 11%;
}

.card {
  @include padding(15px 25px 10px 25px);
  @include margin(null auto 15px auto);
  max-width: 600px;
  border-radius: 2px;
  background: #FFFFFF;
  -moz-box-shadow:    0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
  box-shadow:         0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
}

header {
  border-bottom: solid 1px black;
  background-color: lighten($blue, 68);
  box-shadow: 0 0 15px #868182;

  .title {
    padding-left: 10px;
    font-size: 35pt;
    font-weight: bold;
    float: left;
  }

  ul {
    text-align: right;
    padding-top: 24px;
    font-size: 20px;

    li {
      display: inline;
      list-style-type: none;
      padding-right: 20px;
      }
  }
}

.admin-bar {
  background-color: #FFDD92;
  height: 50px;
  box-shadow: 0 0 15px #868182;

  .title {
    float: left;
    font-size: 18pt;
    padding-left: 25px;
    clear: both;
  }
  ul {
    text-align: right;
    font-size: 18px;
    float: right;

    li {
      display: inline;
      list-style-type: none;
      @include padding(5px 9px 5px 4px);
      border-right: solid 1px black;
    }
  }
}

.order_form_wrapper {
  @include outer-container;
  .order_form_title {
    @include span-columns(8);
    @include shift(1);
    @include omega();
    font-weight: 600;
  }
  .quantity {
    @include span-columns(1);
    @include shift(1);
  }
  .quantity_select {
    @include span-columns(1);
    @include padding(4px null null null);
  }
  .menu_item {
    @include span-columns(4);
    @include omega();
  }
  .submit {
    @include span-columns(8);
    @include shift(1);
    @include omega();
  }
}

.order_confirm_wrapper {
  @include outer-container;
  .ordered_item {
    @include span-columns(4);
    @include shift(1);
  }
  .ordered_quantity {
    text-align: center;
    @include span-columns(2);
  }
  .ordered_price {
    text-align: center;
    @include span-columns(2);
  }
  .ordered_sub_total {
    text-align: right;
    @include span-columns(2);
    @include omega();
  }
}

.order_confirm_wrapper_header {
  @include outer-container;

  .order_confirm_title {
    @include span-columns(10);
    @include shift(1);
    @include omega();
    font-size: 40px;
    font-weight: 600;
  }
  .order_confirm_sub_title {
    @include span-columns(10);
    @include shift(1);
    @include omega();
    @include padding(20px null 20px null);
    font-size: 16px;
    font-weight: 600;
  }
  .order_confirm_total {
    @include span-columns(10);
    @include shift(1);
    @include omega();
    @include padding(10px null 10px null);
    background-color: lighten($blue, 68);
    font-size: 20px;
    font-weight: 600;
    text-align: right;
  }
  .ordered_item_header {
    @include span-columns(4);
    @include shift(1);
    font-weight: 600;
  }
  .ordered_quantity_header {
    @include span-columns(2);
    text-align: center;
    font-weight: 600;
  }
  .ordered_price_header {
    text-align: center;
    font-weight: 600;
    @include span-columns(2);
  }
  .ordered_sub_total_header {
    text-align: right;
    font-weight: 600;
    @include span-columns(2);
    @include omega();
  }
}

img.quantity_add {
  width: 20px;
}

img.quantity_subtract {
  width: 20px;
}


table.ui-datepicker-calendar {border-collapse: separate;}
.ui-datepicker-calendar td {border: 1px solid transparent;}


.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
  background: #4CAF50 none;
  color: white;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-highlight {
  background: none;
  border: none;
}

div.ui-datepicker{
  margin-left: 500px;
  width: 485px;
  height: 425px;
  font-size:20px;
  font-family: $lucida-grande;
}

.ui-datepicker-header {
  background-color: #2E7D32;
}

.ui-datepicker-title {
  background-color: #4CAF50;
  color: white;
}

.ui-datepicker tbody td {
  padding: 5px;
}

.ui-state-default {
  border-radius: 3px;
}
.ui-datepicker-unselectable .ui-state-default {
  background: white;
  color: #b4b3b3;
}


.ui-datepicker td span, .ui-datepicker td a {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 48px;
  color: white;
}

.ui-datepicker-calendar .ui-state-default {
  height: 50px;
  width: 50px;
  background: #FFE6E6;
  color: #FF2600;
  border: none;
}
.ui-datepicker-unselectable .ui-state-default {
  background: #FFE6E6;
  color: #b4b3b3;
}

.calendar {
  @include padding(null 10px null 10px);
}

.calendar-coverage {
  width: 380px;
}

.date-panel {
  border-radius: 2px;
  text-align: center;
}

.date-panel-sml {
  @extend .date-panel;
  height: 35px;
  width: 35px;
  font-size: 12px;
  font-weight: 500;
  padding: 8px 0 10px 0;
}

.date-covered {
  background-color: #4CAF50;
  color: white;
}

.date-uncovered {
  background: rgba(255,0,0,0.10);
  color: red;
}

.date-disabled {
  color: rgba(0,0,0,0.26);
}