<div class="flex-boxes">
  <div class="card card-align-left">

    <div class="card_padding">
      <h1>Frequently Asked Questions</h1>
    </div>

    <div class="display-block">
      <strong>What is a ‘lunchbox’?</strong>
      <p>
        It is where each student’s lunch orders are made and stored.
        If you have two students, you will have two lunchboxes.
        Lunchbox ownership can be shared among users.
        Once a lunchbox has been created, look for the ‘Share Lunchbox’ link and enter
        the email address of the person with whom you would like to share ownership of that lunchbox.
      </p>
    </div>

    <div class="display-block">
      <strong>How can I change an order?</strong>
      <p>
        Click on Lunchpad in the upper left corner, which will bring you to all your lunchboxes.  For the lunchbox that needs an order changed, click on the date you would like to update.  That will bring you to the order form for that week.  Make your revisions and click ‘Update Order’.
      </p>
    </div>
    <div class="display-block">
      <strong>Where can I find all of my orders?</strong>
      <p>
        If you would like to see all of the orders placed for one lunchbox, click on the ‘See Orders’ link for that account.  If you would like to see all orders for all lunchboxes, click on the drop-down menu in the upper left corner and select ‘See All Orders’.
      </p>
    </div>
    <div class="display-block">
      <strong>How do I know if my card has been charged?</strong>
      <p>
        When your card is charged, you will see a positive amount in your ‘wallet’.  You may then apply payments to the lunchboxes as needed.
      </p>
    </div>
    <div class="display-block">
      <strong>I would like to eat lunch with my child. How can I place an order for myself?</strong>
      <p>
        Choose the lunchbox of the child you would like to eat with.  Find the day of your visit and simply add your items to those ordered for your child.  Remember, orders must be placed by Friday of the week before.
      </p>
    </div>
    <div class="display-block">
      <strong>I'd like to talk to someone about my account. Who can I contact?</strong>
      <p>
        Please call the school and ask to speak with the Amazing Parent Volunteer who helps administer their lunch program.
      </p>
    </div>
  </div>
</div>